header {
    background-color: #eeeeee;
    color: aqua;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #c6c6c6;
    display: flex;
    align-items: center;
    
}

img {
    width: 4%;
    margin-left: 30px; 
  
}
