header {
    background-color: #eeeeee;
    color: aqua;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #c6c6c6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 61px;
}

img {
    width: auto;
    height: 50px;
    margin-left: 15px;
}
