nav {
  background-color: #eeeeee; /* Color de fondo */
  color: rgb(0, 0, 0);
font-family: sans-serif;
font-size: 101%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1%;
  border-bottom: 2px solid #c6c6c6; /* Borde inferior */
  display: flex; /* Usar flexbox para alinear elementos */
  justify-content: space-between; /* Alinear elementos a los extremos */
  align-items: center;
}

nav a {
  text-decoration: none; /* Quitar subrayado de los enlaces */
  color: inherit; /* Heredar color de texto */
  margin-right:-999px; /* Margen derecho entre enlaces */
}

nav a:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse sobre los enlaces */
}

.icon-cart {
  color: #000000; 
  font-size: 20px; /* Tamaño del icono */
  margin-right: 49px; /* Margen derecho para separar del último enlace */
}
