.card-container {
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-left: -1%;
  }
  
  .card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-content h2 {
    font-family: sans-serif;
    margin-top: 8px;
    font-size: 20px;
  }
  
  .card-content p {
    font-size: 18px;
    color: #333;
    margin-top: 8px;
  }
  
  .card-button {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .card-button:hover {
    background-color: #0056b3;
  }
  